.rounds {
	position: relative;
	margin-top: 50px;
	margin-bottom: -150px;
	display: flex;
	flex-flow: row;
	justify-content: center;
	width: 64px;
	height: 20px;
	overflow: hidden;
}
.rounds div {
	min-width: 4px;
	width: auto;
	height: 20px;
	background: #d1d1d1;
	margin: 0px 2px;
}
.rounds div.active {
	animation: flicker 1s ease-in-out infinite;
}
div.active.break {
	animation: flickerBreak 1s ease-in-out infinite;
}

.circle-progress-bar {
	background: none;
	overflow: hidden;
	margin-left: -10px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}
.progress-circle {
	width: 210px;
	height: 210px;
}
.task-name {
	text-align: center;
	position: relative;
	margin-top: -80px;
}

@keyframes flicker {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
