.options {
    width: 0%;
    height: 0%;
    position: fixed;
    left: 0;
    top: 30;
    padding: 5px;
    border-top: 1px solid #651fff;
    margin-top: 30px;
    background: none;
    animation: zoomIn 0.5s ease;
    animation-fill-mode: forwards;
}

.options-bg {
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    filter: opacity(0.9)
}

.options-apply-button {
    -webkit-app-region: no-drag;
    position: fixed;
    right: 5px;
    bottom: 5px;
    border: none;
    background: #00e676;
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
}
.options-apply-button:hover {
    cursor: pointer;
    background: #651fff;
}

@keyframes zoomIn {
    0%{
        width: 0%;
        height: 0%;
        left: 50%;
        top: 30
    }
    100%{
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
    }
}