.Home {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

* {
  transition: all 0.4s;
}
.volume-up-icon {
  position: fixed;
  left: 15px;
  top: 40px;
  font-size: 10px;
}

.volume-down-icon {
  position: fixed;
  left: 15px;
  bottom: 30px;
  font-size: 10px;
}