.volume-control {
    position: fixed;
    left: 240px;
    top: 130px;
    width: 35px;
    height: 35px;
    border: none;
    color: #a1a1a1;
    border-radius: 50%;
    background: none;
    -webkit-app-region: no-drag;
}
.volume-control:focus {
    outline: none;
}
.volume-control:hover {
    cursor: pointer;
    color: #651fff;
    transform: scale(1.2)
}