.close-button {
    height: 30px;
    width: 30px;
    border: none;
    color: #d1d1d1;
    position: fixed;
    left: 245px;
    top: 1;
    z-index: 9999;
    background: none;
    -webkit-app-region: no-drag;
}
.close-button:focus {
    outline: none;
}
.close-button:active {
    transform: scale(1.2)
  }
.close-button:hover {
    cursor: pointer;
    color: #651fff
}