.options-button {
  position: absolute;
  z-index: 100;
  color: #c1c1c1;
  border: none;
  width: 30px;
  height: 30px;
  background: none;
  top: 0;
  left: 0;
  -webkit-app-region: no-drag;
}
.options-button:focus {
  outline: none;
}
.options-button:active {
  transform: scale(1.2)
}
.options-button.active {
  color: #651FFF;
}
.options-button:hover {
  color: #651FFF;
  transition: 0.3s;
  cursor: pointer;
}
