.control-button {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0px 8px;
  border: none;
  border-radius: 4px;
  background: none;
  font-size: 35px;
  overflow: hidden;
  -webkit-app-region: no-drag;
}
.control-button:focus {
  outline: none;
}
.control-button:active {
  transform: scale(1.2)
}
.control-button:hover {
  background: #e1e1e1;
  cursor: pointer;
}
.control-button svg {
  position: relative;
  margin-top: -21px;
  margin-left: -2px;
}
.play-button svg{
  animation: goUp 0.2s ease-in;
  margin-left: -3px;
}
.pause-button svg{
  animation: goDown 0.2s ease-in;
  margin-left: -3px;
}
.reset-button {
  margin-top: -10px;
}
@keyframes goDown {
  0% { margin-top: -100px; }
  80% { margin-top: 0px; }
  100% { margin-top: -21px; }
}
@keyframes goUp {
  0% { margin-top: 100px; }
  80% { margin-top: -30px; }
  100% { margin-top: -21px; }
}