body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 280px;
  height: 300px;
  background: none;
  overflow: hidden;
  -webkit-app-region: drag;
  border-radius: 40px !important;
  background-color: rgba(255, 255, 255, 0.2);
}

html {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0);
}